.header
  .header-logo
    = link_to("デグーのきもち","/")
  %ul.header-menus
    %li
      .header-menus__about
        = link_to("デグーのきもちとは","/about")
    %li
      .header-menus__posts
        = link_to("投稿一覧","/posts/index")

.about-main
  %h2 デグーのきもちとは。
  %p デグー 好きのための集いの場です。