.header
  %a{:href => "/"}
    .header-logo
      デグーのきもち
  %ul.header-menus
    %li
      %a{:href => "/about"}
        .header-menus__about
          デグーのきもちとは

.main-top
  %h2.main_top__message
    デグーと楽しく暮らすために。