.header
  .header-logo
    = link_to("デグーのきもち","/")
  %ul.header-menus
    %li
      .header-menus__about
        = link_to("デグーのきもちとは","/about")
    %li
      .header-menus__posts
        = link_to("投稿一覧","/posts/index")

.posts-index
  .container
    - @posts.each do |post|
      .posts-index__item
      =post.content
